body{
    margin:0%;
    padding:0%;

}

body::-webkit-scrollbar {
    width: 8px;  /* 스크롤바의 너비 */
}

body::-webkit-scrollbar-thumb {
    height: 30%; /* 스크롤바의 길이 */
    background: #0056b9; /* 스크롤바의 색상 */
    
    border-radius: 10px;
}

body::-webkit-scrollbar-track {
    background: rgba(222, 222, 222, 0.92);  /*스크롤바 뒷 배경 색상*/
}

#first {
margin-top: -0.1%;
}